@namespace BasicKube.Web.Components
@using BasicKube.Web.Pages

@inject KubeHttpClient KubeHttpClient
@inject ConfirmService ConfirmService
@inject MessageService MessageService
@implements IDisposable

<div>
    <Collapse DefaultActiveKey="@(new[] { _defaultActiveKey })">
        @{
            foreach (var deployDetail in _deployDetails)
            {
                var header = $"{deployDetail.Name}({deployDetail.ReadyReplicas}/{deployDetail.Replicas})";

                <Panel @key="@deployDetail.Name" Header="@header" Key="@(@deployDetail.Name)" Class="deploy-panel">
                    <ExtraTemplate>
                        <Button Class="mr-6" OnClickStopPropagation="true" Size="small"
                            OnClick="@(async () => await ShowHistoryVersionAsync(deployDetail))">
                            版本控制
                        </Button>

                        <ButtonGroup>
                            <Button OnClick="@(async () => await OnDelClickAsync(deployDetail))"
                            OnClickStopPropagation="true"
                            Type="@ButtonType.Primary"
                            Danger="true"
                            Size="small">
                                删除
                            </Button>

                            <Button OnClick="@(async () => await OnEditClickAsync(deployDetail))"
                            OnClickStopPropagation="true"
                            Type="@ButtonType.Primary"
                            Size="small">
                                编辑
                            </Button>

                            <Button OnClick="@(async () => await OnScaleClickAsync(deployDetail))"
                            OnClickStopPropagation="true"
                            Type="secondary"
                            Size="small">
                                伸缩
                            </Button>

                            <Button OnClick="@(async () => await OnPublishClickAsync(deployDetail))"
                            OnClickStopPropagation="true"
                            Type="navy"
                            Size="small">
                                发布
                            </Button>
                        </ButtonGroup>
                    </ExtraTemplate>
                    <ChildContent>
                        <Collapse DefaultActiveKey="@(new[] { deployDetail.Name + "0" })">

                            <PodDetailsItem AppName="@(deployDetail.Name)"
                                    PodDetails="@(deployDetail.PodDetails)">
                            </PodDetailsItem>

                        </Collapse>
                    </ChildContent>
                </Panel>
            }
        }
    </Collapse>
</div>


@code
{
    [CascadingParameter(Name = "IamId")]
    public int IamId { get; set; }

    [CascadingParameter]
    public DeployAppGrpListPage? Parent { get; set; }

#nullable disable
    [Parameter]
    public string AppName { get; set; }

    [Parameter]
    public string DeployName { get; set; }
#nullable enable

    private string _defaultActiveKey = "";


    private Timer? _timer = null;

    protected override async Task OnInitializedAsync()
    {
        await RefreshDeployInfo();
        _timer ??= new Timer(TimerIntervalTask, null, TimeSpan.FromSeconds(5), TimeSpan.FromSeconds(5));
    }


    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        if (!string.IsNullOrWhiteSpace(DeployName))
        {
            _defaultActiveKey = DeployName;
        }
    }

    private async void TimerIntervalTask(object? state)
    {
        await RefreshDeployInfo();
    }

    private List<DeployDetails> _deployDetails = new List<DeployDetails>();

    private async Task RefreshDeployInfo()
    {
        var data = await KubeHttpClient.DeployHttp
            .List(IamId, AppName!);
        if (data is { Count: > 0 })
        {
            _deployDetails = data;

            if (string.IsNullOrWhiteSpace(DeployName))
            {
                _defaultActiveKey = _deployDetails[0].Name;
            }
        }

        await InvokeAsync(StateHasChanged);
    }


    private async Task OnScaleClickAsync(DeployDetails deployDetail)
    {
        var modal = new ScaleForm();
        modal.Num = deployDetail.PodDetails.Count;

        async Task OnOk(int num)
        {
            await KubeHttpClient.ScalerHttp.AppScale(
                IamId,
                deployDetail.Name,
                num
                );
        }

        modal.OnOk = (Func<int, Task>)OnOk;
        await modal.ShowAsync();
    }



    private async Task OnEditClickAsync(DeployDetails deployDetail)
    {
        var appName = string.Join(
            "-",
            deployDetail.Name.Split("-")[0..^1]
            );
        var cmd = await
            KubeHttpClient.DeployHttp
            .Details(IamId, deployDetail.Name);
        if (cmd != null)
        {
            var modal = new CreateDeployAppForm();
            modal.IamId = IamId;
            modal.IsEdit = true;
            modal.DeployCreateCommand = cmd;


            async Task OnOk()
            {
                await Task.CompletedTask;
            }

            modal.OnOk = (Func<Task>)OnOk;
            await modal.ShowAsync();
        }
    }


    public void Dispose()
    {
        _timer?.Dispose();
    }

    private async Task OnDelClickAsync(DeployDetails deployDetail)
    {
        var confirmResult = await ConfirmService.Show("确定要删除这个 Deployment 吗？", "删除");
        if (confirmResult == ConfirmResult.OK)
        {
            var delRes = await KubeHttpClient
            .DeployHttp.Del(IamId, deployDetail.Name);

            await MessageService.Success(delRes ? "删除成功" : "删除失败，请稍候重试");
            if (delRes)
            {
                Parent?.ReturnAppList();
            }
        }
    }

    private async Task OnPublishClickAsync(DeployDetails deployDetail)
    {
        var publishForm = new AppPublishForm(IamId, AppName, deployDetail.Name);
        await publishForm.ShowAsync();
    }

    private async Task ShowHistoryVersionAsync(DeployDetails deployDetail)
    {
        // TODO
        //var publishForm = new PublishForm(IamId, AppName, deployDetail.DeployName);
        //await publishForm.ShowAsync();
    }
}
