@namespace BasicKube.Web.Components
@using AntDesign.TableModels


<Table Class="deploy-pods"
       DataSource="@PodDetails"
       TItem="PodDetail"
       OnExpand="OnRowExpand"
       HidePagination
       Size=@TableSize.Middle>
    <ColumnDefinitions>
        <PropertyColumn Property="@(c=>c!.Name)" />
        <PropertyColumn Property="@(c=>c!.GetStartTimeStr())" Title="StartTime" />
        <PropertyColumn Property="@(c=>c!.HostIp)" />
        <PropertyColumn Property="@(c=>c!.PodIp)" />
        <PropertyColumn Property="@(c=>c!.Status)" />
        <Column Title="cpu" TData="string">
            <TitleTemplate>
                <Tooltip Placement="@Placement.Top" Title="main容器监控">
                    cpu <Icon Type="exclamation-circle" Theme="outline" />
                </Tooltip>
            </TitleTemplate>
            <ChildContent>
                @if (_mainContainerMetrics.TryGetValue(context.Name, out var metric))
                {
                    <span>@metric[0]</span>
                }
            </ChildContent>
        </Column>
        <Column Title="mem" TData="string">
            <TitleTemplate>
                <Tooltip Placement="@Placement.Top" Title="main容器监控">
                    mem <Icon Type="exclamation-circle" Theme="outline" />
                </Tooltip>
            </TitleTemplate>
            <ChildContent>
                @if (_mainContainerMetrics.TryGetValue(context.Name, out var metric))
                {
                    <span>@metric[1]</span>
                }
            </ChildContent>
        </Column>

        <ActionColumn Title="Action">
            <Space>
                @if (ShowDelBtn)
                {
                    <SpaceItem>
                        <Button Size="small" OnClick="@(async () => await OnDelPodAsync(context))" Type="@ButtonType.Link">
                            删除
                        </Button>
                    </SpaceItem>
                }

                <SpaceItem>
                    <Dropdown Placement="@Placement.TopRight"
                              Trigger="@(new Trigger[] { Trigger.Click })">
                        <Overlay>
                            <Menu>
                                <MenuItem>
                                    <Button Size="small" OnClick="@(async () => await ShowEventsAsync(context))" Type="@ButtonType.Link">
                                        查看事件
                                    </Button>
                                </MenuItem>
                            </Menu>
                        </Overlay>
                        <ChildContent>
                            <a class="ant-dropdown-link" @onclick:preventDefault>
                                更多 <Icon Type="down" />
                            </a>
                        </ChildContent>
                    </Dropdown>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </ColumnDefinitions>
    <ExpandTemplate Context="rowData">
        <Table DataSource="rowData.Data.ContainerDetails.Values.ToList()"
               Loading="@(rowData.Data.ContainerDetails==null)"
               HidePagination>

            <PropertyColumn Property="c=>c.Name" />
            <PropertyColumn Property="c=>c.Image" />
            <PropertyColumn Property="c=>c.Tag" />
            <PropertyColumn Property="c=>c.State" />
            <PropertyColumn Property="c=>c.IsReady" />
            <PropertyColumn Property="c=>c.RestartCount" />
            <PropertyColumn Property="c=>c.ExitCode" />

            <ActionColumn Title="Action">
                <Space Size="@("small")">
                    <SpaceItem>
                        <a target="_blank"
                           href="@($"/{Routes.TerminalPage}/{IamId}/{rowData.Data.Name}/{context.Name}?env={EnvName}")">
                            终端
                        </a>
                    </SpaceItem>
                </Space>
            </ActionColumn>
        </Table>
    </ExpandTemplate>
</Table>

<Drawer Width="800" Closable="true" Visible="_visible" Placement="right" Title='("Events")' OnClose="_=>Close()">
    <Table Class="pods-events"
           DataSource="@_events"
           TItem="EventInfo"
           HidePagination
           Size=@TableSize.Middle
           Loading=@(_events.Count == 0)>
        <ColumnDefinitions>
            <PropertyColumn Property="@(c=>c!.GetDateTimeStr())" Title="EventTime" />
            <PropertyColumn Property="@(c=>c!.Type)" />
            <PropertyColumn Property="@(c=>c!.Reason)" />
            <PropertyColumn Property="@(c=>c!.Source)" />
            <PropertyColumn Property="@(c=>c!.Message)" />
        </ColumnDefinitions>
    </Table>
    </Drawer>
