@page "/pages/daemonSetAppGrpList/{DaempnAppName?}"
@inject DaemonSetHttp DaemonSetHttp
@inject NavigationManager NavigationManager


<div class="page-content">
    <Breadcrumb Style="margin-bottom: 1rem;">
        @if (string.IsNullOrWhiteSpace(_activityAppName))
        {
            <BreadcrumbItem>
                <b><IconPark.Shield /> 守护应用组</b>
            </BreadcrumbItem>
        }
        else
        {
            <BreadcrumbItem OnClick="ReturnAppList">
                <b class="cursor-pointer">
                    <IconPark.Shield /> 守护应用组
                </b>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <b>守护应用</b>
            </BreadcrumbItem>
        }
    </Breadcrumb>

    <blockquote class="operate-wrapper">
        <Button Type="@ButtonType.Primary" Size="small" OnClick="@OnCreateDeployClick">新建DaemonSet</Button>
    </blockquote>

    @if (string.IsNullOrWhiteSpace(_activityAppName))
    {
        <AntList DataSource="@_appList" TItem="DaemonSetGrpInfo">
            <ListItem Class="page-resource-list-item" OnClick="() => OnAppClick(context)">
                <ListItemMeta Description="">
                        <TitleTemplate>
                        @if (context.Ports.Count > 0)
                        {
                            @($"{context.Name} ({string.Join(";", context.Ports)})")
                        }
                        else
                        {
                            @($"{context.Name}")
                        }
                        </TitleTemplate>
                </ListItemMeta>
            </ListItem>
        </AntList>
    }
    else
    {
        <CascadingValue Value="@(this)" IsFixed="true">
            <DaemonSetList AppName="@_activityAppName" />
        </CascadingValue>
    }
</div>
@code
{

    [CascadingParameter(Name = "IamId")]
    public int IamId { get; set; }


    private string _activityAppName = "";

    [Parameter]
    public string? DaempnAppName
    {
        set => _activityAppName = value ?? "";
        get => _activityAppName;
    }
    [Parameter]
    [SupplyParameterFromQuery(Name = "deploy")]
    public string? DeployName{ get; set; }

    private List<DaemonSetGrpInfo> _appList = new List<DaemonSetGrpInfo>();

    protected override async Task OnParametersSetAsync()
    {
        await GetGrpList();
    }

    private async Task GetGrpList()
    {
        var appList = await DaemonSetHttp.ListGrp(IamId);
        _appList = appList;
        StateHasChanged();
    }


    private async Task OnCreateDeployClick()
    {
        var modal = new CreateDaemonSetAppForm();
        modal.IamId = IamId;
        modal.OnOk = async () =>
        {
            await GetGrpList();
        };
        await modal.ShowAsync();
    }

    public void OnAppClick(DaemonSetGrpInfo context)
    {
        NavigationManager.NavigateTo($"/{Routes.DaemonSetAppGrpPage}/{context.Name}");
    }

    internal void ReturnAppList()
    {
        NavigationManager.NavigateTo($"/{Routes.DaemonSetAppGrpPage}");
    }
}
