@page "/{AppName?}"
@page "/pages/kube/deployAppGrpList/{AppName?}"
@inject KubeHttpClient KubeHttpClient
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="page-content">
    <Breadcrumb Style="margin-bottom: 1rem;">
        @if (string.IsNullOrWhiteSpace(_activityAppName))
        {
            <BreadcrumbItem>
                <b><IconPark.AllApplication /> 应用组</b>
            </BreadcrumbItem>
        }
        else
        {
            <BreadcrumbItem OnClick="ReturnAppList">
                <b class="cursor-pointer">
                    <IconPark.AllApplication /> 应用组
                </b>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <b>应用</b>
            </BreadcrumbItem>
        }
    </Breadcrumb>

    <blockquote class="operate-wrapper">
        <Button Type="@ButtonType.Primary" Size="small" OnClick="@OnCreateDeployClick">新建Deployment</Button>
    </blockquote>

    @if (string.IsNullOrWhiteSpace(_activityAppName))
    {
        <AntList DataSource="@_appList" TItem="DeployGrpInfo">
            <ListItem Class="page-resource-list-item" OnClick="() => OnAppClick(context)">
                <ListItemMeta Description="">
                        <TitleTemplate>
                            @context.Name
                        </TitleTemplate>
                </ListItemMeta>
            </ListItem>
        </AntList>
    }
    else
    {
        <CascadingValue Value="@(this)" IsFixed="true">
            <DeployList AppName="@_activityAppName" />
        </CascadingValue>
    }
</div>
@code
{
    [CascadingParameter(Name = "IamId")]
    public int IamId { get; set; }

    private string _activityAppName = "";

    [Parameter]
    public string? AppName
    {
        set => _activityAppName = value ?? "";
        get => _activityAppName;
    }
    [Parameter]
    [SupplyParameterFromQuery(Name = "deploy")]
    public string? DeployName{ get; set; }

    private List<DeployGrpInfo> _appList = new List<DeployGrpInfo>();

    protected override async Task OnParametersSetAsync()
    {
        await GetGrpList();
    }

    private async Task GetGrpList()
    {
        var appList = await KubeHttpClient.DeployHttp.ListGrp(IamId);
        _appList = appList;
        StateHasChanged();
    }


    private async Task OnCreateDeployClick()
    {
        var modal = new CreateDeployAppForm();
        modal.IamId = IamId;
        modal.OnOk = async () =>
        {
            await GetGrpList();
        };
        await modal.ShowAsync();
    }

    public void OnAppClick(DeployGrpInfo context)
    {
        NavigationManager.NavigateTo($"/{Routes.DeployGrpPage}/{context.Name}");
    }

    internal void ReturnAppList()
    {
        NavigationManager.NavigateTo($"/{Routes.DeployGrpPage}");
    }
}
