@page "/pages/ingressGrpList/{IamId:int?}/{IngressName?}"
@inject KubeHttpClient KubeHttpClient
@inject NavigationManager NavigationManager

<div class="page-content">
    <Breadcrumb Style="margin-bottom: 1rem;">
        @if (string.IsNullOrWhiteSpace(IngressName))
        {
            <BreadcrumbItem>
                <b>
                    <IconPark.LinkIn /> 路由组
                </b>
            </BreadcrumbItem>
        }
        else
        {
            <BreadcrumbItem OnClick="ReturnSvcList">
                <b class="cursor-pointer">
                    <IconPark.LinkIn /> 路由组
                </b>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <b>路由</b>
            </BreadcrumbItem>
        }
    </Breadcrumb>

     <blockquote class="operate-wrapper">
        <Button Type="@ButtonType.Primary" Size="small" OnClick="@OnCreateIngClick">新建路由</Button>
    </blockquote>

    @if (string.IsNullOrWhiteSpace(IngressName))
    {
        <AntList DataSource="@_grpInfos" TItem="IngGrpInfo">
            <ListItem Class="page-resource-list-item" OnClick="() => OnGrpClick(context)">
                <ListItemMeta Description="">
                    <TitleTemplate>
                        @context.Name
                    </TitleTemplate>
                </ListItemMeta>
            </ListItem>
        </AntList>
    }
    else
    {
        <CascadingValue Value="@(IamId)" Name="@("IamId")">
            <CascadingValue Value="@(this)" IsFixed="true">
                <IngList GrpName="@IngressName" />
            </CascadingValue>
        </CascadingValue>
    }
</div>

@code {

    [Parameter]
    public int IamId { get; set; }
    [Parameter]
    public string? IngressName { get; set; }

    private List<IngGrpInfo> _grpInfos = new List<IngGrpInfo>();

    protected override async Task OnInitializedAsync()
    {
        await GetGrpList();
    }

    private async Task GetGrpList()
    {
        _grpInfos = await KubeHttpClient.IngHttp.ListGrp(IamId);
        StateHasChanged();
    }

    private void OnGrpClick(IngGrpInfo context)
    {
        NavigationManager.NavigateTo($"/{Routes.IngGrpPage}/{IamId}/{context.Name}");
    }

    internal void ReturnSvcList()
    {
        NavigationManager.NavigateTo($"/{Routes.IngGrpPage}/{IamId}");
    }

    private async Task OnCreateIngClick()
    {
        var form = new CreateIngForm(IamId);
        form.OnOk = async () =>
        {
            await GetGrpList();
        };
        await form.ShowAsync();
    }
}
